* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: League Spartan;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1440px;
  height: 900px;
  background-color: #f8f8f8;
  margin-bottom: 43px;
}
header .right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .right-side h2 {
  position: absolute;
  top: 104px;
  left: 133px;
  font-size: 24px;
  line-height: 44.64px;
  font-weight: 300;
}
header .right-side h1 {
  text-align: center;
  width: 877px;
  height: 215px;
  line-height: 230px;
  font-size: 250px;
  font-weight: 300;
  color: #272727;
  margin-bottom: 43px;
  margin-top: 53px;
}
header .right-side p {
  text-align: center;
  width: 575px;
  color: #161515;
  font-size: 32px;
  line-height: 49.6px;
  font-weight: 300;
}
header .right-side .buy-info {
  display: flex;
  margin-top: 61px;
}
header .right-side .buy-info .btn {
  width: 282px;
  height: 82px;
  background-color: #161515;
  color: #fff;
  font-size: 32px;
  line-height: 29.44px;
  font-weight: 300;
  font-family: league spartan;
}
header .right-side .buy-info span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 300;
  width: 143px;
  height: 82px;
  background-color: #fff;
  color: #272727;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 44.64px;
}
main h3 {
  font-size: 72px;
  font-weight: 400;
  line-height: 81px;
  margin-bottom: 84px;
}
main .son-22 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
  flex-direction: column;
}
main .son-22 .son-22-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 417px;
  height: 630px;
  background-color: #f8f8f8;
  margin-bottom: 67px;
}
main .son-22 .son-22-dscrptn {
  width: 531px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .son-22 .son-22-dscrptn h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 24.44px;
  margin-bottom: 17px;
}
main .son-22 .son-22-dscrptn p {
  font-size: 32px;
  font-weight: 300;
  line-height: 49.6px;
}
main .sw-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px;
}
main .sw-12 .sw-12-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 496px;
   height: 630px; */
  width: 417px;
  height: 630px;
  background-color: #f8f8f8;
  margin-bottom: 67px;
}
main .sw-12 .sw-12-dscrptn {
  width: 531px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .sw-12 .sw-12-dscrptn h3 {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 32px;
  line-height: 29.44px;
}
main .sw-12 .sw-12-dscrptn p {
  font-weight: 300;
  font-size: 32px;
  line-height: 49.6px;
}

footer {
  padding-bottom: 70px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*.underline{
      width: 178.03px;
      height: 1px;
      background-color: #707070;
      margin-bottom: 58px;
  } */
}
footer h3 {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  line-height: 59.52px;
  color: #161515;
  position: relative;
  margin-bottom: 58px;
}
footer h3::after {
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 178.03px;
  height: 1px;
  position: absolute;
  background-color: #707070;
}
footer .text {
  width: 531px;
  font-weight: 300;
  font-size: 24px;
  line-height: 40.8px;
}
footer .text a {
  font-weight: 500;
  color: #e6b14f;
}/*# sourceMappingURL=style.css.map */